[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[packages]
Django = "*"
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
django-tables2 = "*"
whitenoise = "*"
django-bootstrap4 = "*"
django-filter = "*"
dj-database-url = "*"
dj-email-url = "*"
daphne = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
