[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
django-tables2 = "*"
whitenoise = "*"
django-bootstrap4 = "*"
gunicorn = "*"
djangorestframework = "*"
django-webpack-loader = "*"
inertia-django = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
