[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*"

[packages]
Django = "*"
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-bootstrap4 = "*"
django-filter = "*"
dj-database-url = "*"
dj-email-url = "*"
livereload = "*"
honcho = "*"
structlog = "*"
colorama = "*"
uvicorn = "*"
django = "*"

[pipenv]
allow_prereleases = true
