{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">

        <title>PROJECT</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">PROJECT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto pull-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "todo_list" %}">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout" %}?next=/">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "signup" %}">Signup</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>

        <div class="container">
            {% bootstrap_messages %}
            {% block content %}

            {% endblock content %}
        </div>

        <script src="{% static "/js/jquery.slim.min.js" %}"></script>
        <script src="{% static "/js/popper.min.js" %}"></script>
        <script src="{% static "/js/bootstrap.min.js" %}"></script>
    </body>
</html>
